.album-card {
    min-width: 134px;
}

.square-image {
    width: 120px;
    height: 120px;
    background-color: var(--color-gray5);
}

.card-bottom {
    display: flex;
    padding-top: 2px;
}

.card-bottom h4 {
    width: 94px;
}

.top-card {
    min-width: 176px;
}

.top-square-image {
    width: 140px;
    height: 140px;
    background-color: var(--color-gray5);
}

.top-card-bottom {
    display: flex;
    padding-top: 4px;
}

.top-card-bottom h4 {
    width: 113px;
}

.card-con-play{
    display: flex;
    flex-flow: column;
    min-width: 130px;
    background-color: unset;
    transition: background-color 0.3s ease;
}

.card-con-play > a{
    display: flex;
}

.card-con-play img{
    width: 100%;
}

.card-con-play-info{
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-top: 8px;
    align-items: center;
    column-gap: 8px;
}

.card-con-play-info > a{
    line-height: 20px;
}

.card-play-btn{
   width: 24px;
   margin-right: 4px;
   color: var(--color-gray5);
   transition: color 0.3s ease;
}

/* Card Podcast */
.card-con-play.card-podcast{
    display: flex;
    flex-flow: row;
    column-gap: 8px;
}

.card-con-play.card-podcast img{
    min-width: 96px;
}

.card-con-play.card-podcast p{
    margin-top: 8px;
    line-height: 18px;
}

.card-podcast .card-con-play-info{
    margin: 0;
    column-gap: 10px;
}

@media(min-width:768px) {

    .card-con-play:hover{
        outline: 6px solid var(--color-tr1);
        background-color: var(--color-tr1);
        transition: background-color 0.3s ease;
    }

    .card-con-play-info > a > h4:hover{
        text-decoration: underline;
    }

    .cards-carousel .card-con-play{
        min-width: 150px;
        max-width: 150px;
    }

    .card-play-btn:hover {
        color: var(--color-green3);
        transition: color 0.3s ease;
    }

}