.album-card {
    min-width: 134px;
}

.square-image {
    width: 120px;
    height: 120px;
    background-color: var(--color-gray5);
}

.card-bottom {
    display: flex;
    padding-top: 2px;
}

.card-bottom h4 {
    width: 94px;
}