.li-play{
    display: flex;
    flex-flow: row;
    outline: unset;
    background-color: unset;
    transition: background-color 0.3s ease;
}

.li-play img{
    max-height: 56px;
}

.li-play a{
    display: inline-flex;
}

.li-play .info{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.li-play .li-buttons{
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: 6px;
}

.li-play button.play-btn{
    width: 32px;
    color: var(--color-gray6);
}

.li-play button.opciones-btn{
    width: 24px;
    color: var(--color-gray4);
}

.list-footer{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.li-play-artista img{
    border-radius: 50%;
}

.li-links{
    display: flex;
    flex-flow: column;
    line-height: 20px;
}

.more-info{
    display: none;
}

/* li episodio podcast */
.li-play-episodio{
    display: flex;
    flex-flow: column;
}

.li-play-episodio img{
    max-height: 72px;
}

.li-play-episodio .info{
    margin: 0;
}

.li-play-episodio .info p{
    margin-left: 8px;
    line-height: 18px;
}

.li-play-episodio .li-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@media(min-width:768px) {

    .li-play:hover{
        outline: 4px solid var(--color-tr1);
        background-color: var(--color-tr1);
        transition: background-color 0.3s ease;
    }

    .more-info{
        display: inline-flex;
        align-self: center;
        color: var(--color-gray4);
    }
    
    .li-links a:hover{
        text-decoration: underline;
    }
    
    .li-play-cancion img{
        display: none;
    }
    
    .li-play-cancion .info{
        margin-left: 0px;
    }

    .li-play-cancion .li-links{
        flex-flow: row;
        align-items: baseline;
        column-gap: 16px;
    }

    .li-play-cancion .li-links > a h5{
        font-size: 16px;
    }
    
    .li-play-cancion .li-links > a h4{
        font-size: 16px;
    }

    .li-play .more-info{
        display: inline-flex;
        margin-right: 8px;
        column-gap: 4px;
    }

    .li-play .li-buttons{
        margin-right: 8px;
    }

    .list-footer:hover{
        outline: 4px solid var(--color-tr1);
        background-color: var(--color-tr1);
        transition: background-color 0.3s ease;
    }
    
    .list-footer a:hover{
        text-decoration: underline;
    }

    /* li episodio podcast */
    .li-play-episodio{
        flex-flow: column !important;
    }

    .li-play-episodio img{
        max-height: 56px;
    }

    .li-play-episodio .info p{
        margin-right: 16px;
    }

    .li-play-episodio .more-info{
        margin-right: 2px;
    }

    .li-play-episodio a:hover{
        text-decoration: underline;
    }

    .li-buttons .play-btn:hover{
        color: var(--color-green3);
        transition: color 0.3s ease;
    }

    .li-buttons .opciones-btn:hover{
        color: var(--color-red);
        transition: color 0.3s ease;
    }

}