#nav{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    background-color: rgba(255,255,255,0.016);
    padding: 8px;
}

#nav h3{
    margin: 0;    
}

#nav a {
    display: inline-flex;
}

#page-title{
    text-align: center;
}

#back-btn-icon{
    width: 24px;
    margin: 0px 16px;
}