#sidebar-wrapper {
    z-index: 1;
    left: 250px;
    width: 0;
    height: 100%;
    margin-top: 63px;
    overflow-y: auto;
    /* background: var(--color-gray2); */
    background: rgba(255,255,255,0.016);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}

/* #wrapper.toggled #sidebar-wrapper {
    width: 280px;
} */

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


.sidebar-nav {
    /* position: absolute; */
    /* top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; */
    display: flex;
    flex-flow: column;
    row-gap: 18px;
    margin-top: 28px;
}

.sidebar-nav li {
    text-indent: 18px;
    /* line-height: 40px; */
    /* margin-top: 30px */
}

#link-biblioteca{
    display: flex;
    justify-content: space-between;
}

#boton-extensible{
    margin-right: 8px;
}

.extensible {
  /* background: #66666E; */
  background: rgba(255,255,255,0.048);
  height: auto;
}

.menu-extensible {
    display: flex;
    flex-flow: column;
    row-gap: 7px;
    padding: 4px 0px 8px 0px;
}

.menu-extensible li {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
}

.menu-extensible button {
    position: absolute;
    display: inline-block;
}

.menu-extensible button svg{
    width: 16px;
}

.menu-extensible button:hover{
    color: var(--color-green3);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    width: 100%;
    color: var(--color-gray5);
    background-color: unset;
    transition: background-color 0.3s ease;
}

.sidebar-nav li a:hover {
    color: var(--color-gray6);
    background-color: var(--color-tr1);
    transition: background-color 0.3s ease;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.menu-extensible a {
    padding-left: 6px;
    color: var(--color-gray4);
}

.menu-extensible a:hover {
    text-decoration: underline;
}

.menu-extensible h4 {
    padding-left: 18px;
}

.elemento-agregado {
    -webkit-animation: fade 5s;
    animation: fade 5s;
    opacity: 1;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}


.fa {
position: relative;
font-size: 25px;
color: white;
right: 5px;
}

.side-active{
    color: var(--color-gray6) !important;
    background-color: var(--color-tr1) !important;
    font-weight: 500;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100%;
        display: block;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    
}