.tags-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;
    margin-top: 4px;
}

.tag-btn{
    display: flex;
    font-weight: 300;
}

.tag-btn:hover{
    text-decoration: underline;
}

.tag-btn.selected{
    font-weight: 500;
}

.tag-btn svg{
    width: 18px;
    margin-right: 4px;
}

.tag-icon-selected{
    display: none;
}

.selected .tag-icon-selected{
    display: block;
}

.selected .tag-icon{
    display: none;
}

.tag-estudio{
    color: var(--color-orange);
}

.tag-trabajo{
    color: var(--color-blue2);
}

.tag-deporte{
    color: var(--color-green2);
}

.tag-fiesta{
    color: var(--color-yellow);
}

.tag-relax{
    color: var(--color-purple2);
}

.tag-infantil{
    color: var(--color-blue3);
}

.rating {
    font-size: 26px;
}

.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}

.rating a, .rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: var(--color-yellow);
			cursor: pointer;
		}