.tags-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;
    margin-top: 4px;
    justify-content: center;
}

.tag-btn{
    display: flex;
    font-weight: 300;
}

.tag-btn:hover{
    text-decoration: underline;
}

.tag-btn.selected{
    font-weight: 500;
}

.tag-btn svg{
    width: 18px;
    margin-right: 4px;
}

.tag-icon-selected{
    display: none;
}

.selected .tag-icon-selected{
    display: block;
}

.selected .tag-icon{
    display: none;
}

.tag-estudio{
    color: var(--color-orange);
}

.tag-trabajo{
    color: var(--color-blue2);
}

.tag-deporte{
    color: var(--color-green2);
}

.tag-fiesta{
    color: var(--color-yellow);
}

.tag-relax{
    color: var(--color-purple2);
}

.tag-infantil{
    color: var(--color-blue3);
}

.rating {
    font-size: 20px;
    letter-spacing: 4px;
    transform: translateY(4px);
}

.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}

.rating a, .rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: var(--color-yellow);
			cursor: pointer;
        }
        
.animar-estrella {
    transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.expandido {
    margin-top: -8px;
    transform: translate(calc(1% + 0.5px), calc(2% + 0.5px));
    transition: transform 0.3s ease;
    text-shadow: 3px 3px 0 #333;
}

.tilt .tags-bottom {
    animation: kaboom 5s ease alternate infinite;

}
@keyframes kaboom {
90% {
    transform: scale(1.0);
}
100% {
    transform: scale(1.3);
}
}

.tilt .votado {
    animation: kaboom2 5s ease 3s alternate infinite

}
.tilt .votado-mobile {
    animation: kaboom2 5s ease 3s alternate infinite

}
@keyframes kaboom2 {
90% {
    transform: scale(1.0);
}
100% {
    transform: scale(1.3);
}
}

.votado p {
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.votado-mobile p {
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}