.main {
    margin-left: 280px;
    padding-top: 70px;
    width: 78%;
}

.bloque {
    width: 99%;
    padding: 10px;
}

.contenido-bloque-preguntas {
    padding-left: 16px;
    margin-top: -28px;
    display: flex;
    flex-direction: column;
}


.ayuda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-bloque h2 {
    padding-left: 8px;
}

.bloques {
    display: flex;
    flex-direction: row;
}

#nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    background-color: var(--color-gray2);
    padding: 78px 8px 8px 8px;
    width: 79%;
    float: right;
}

.preferencias {
    padding-top: 40px;
}

.header-icon-ayuda {
    width: 40px;
    padding-top: 10px;
    margin-top: 10px;
}

.accordion {
    color: var(--color-gray6);
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    border-bottom: 1px solid var(--color-gray4);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active-accordion:after {
    content: "\2796";
}

.subtitulo-bloque {
    width: 25%;
}

.acordion-preguntas {
    width: 50%;
}

.seccion-pregunta {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
}

@media(max-width:768px) {
    .main {
        padding-top: 0px;
        width: 100%;
        margin-left: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .bloques {
        display: flex;
        flex-direction: column;
    }
    
    .bloque {
        width: 97%;
        padding: 10px;
    }

    .contenido-bloque {
        display: flex;
        flex-wrap: wrap;
        padding-left: 8px;
        margin-top: -28px;
    }

    #nav {
        width: 100%;
        float: right;
    }

    .seccion-pregunta {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    .subtitulo-bloque {
        width: 100%;
    }

    .acordion-preguntas {
        width: 96%;
    }
}