input {
    box-shadow: none;
    border:none;
    border-bottom: 1px solid var(--color-gray4);
    transition: border-bottom 0.2s ease;
    background-color: var(--color-gray2);
    color: var(--color-gray5);
    font-size: 18px;
    padding: 12px;
}

input:focus { 
    outline:none;
    border-bottom: 1px solid var(--color-gray6);
}

::placeholder {
    color: var(--color-gray3);
  }
