.main {
    margin-left: 280px;
    padding-top: 70px;
    width: 78%;
}

.bloque {
    width: 99%;
    padding: 10px;
}

.contenido-bloque {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    margin-top: -28px;
}

.bloque-mes {
    width: 100%;
}

.titulo-mes {
    height: 25px;
}

.positivo-stat {
    color: var(--color-blue3);
}

.negativo-stat {
    color: var(--color-orange);
}

.estadistica-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px var(--color-gray3) solid;
    height: 50px;
}

.estadistica-izq {
    display: flex;
    margin-top: 8px;
}

.estadistica-izq h5 {
    margin-top: 8px;
    padding-left: 3px;
    color: var(--color-gray4);
}

.playlist-card {
    padding: 0 25px;
    min-width: 158px;
}

.square-image {
    width: auto;
    height: 160px;
    background-color: var(--color-gray5);
}

.card-bottom h4 {
    margin-top: 5px;
    width: 145px;
}

.card-bottom .fa {
    float: right;
    font-size: 30px;
    margin-top: -15px;
    margin-right: -17px;
}

.cabecera {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.bloque-usuario {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-top: 8px;
}

#avatar-perfil {
    width: 128px;
    height: 128px;
    background-color: var(--color-gray4);
    border-radius: 65px;
    margin-top: auto;
}

.info-usuario {
    display:flex;
    flex-direction:column;
    margin-left: 15px;
    margin-top: -11px;
}

.info-usuario .btn {
    width: 48px;
}

.info-usuario h1 {
    height: 18px;
}

.info-perfil-large {
    display: flex;
    flex-direction: row;
    padding-right: 16px;
}

.info-mobile {
    display: none;
}

.texto-cabecera {
    text-align: right;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px var(--color-gray6) solid;
    height: 50px;
    margin-top: auto;
    font-size: 20px;
}

.botones-perfil {
    height: 40px;
    position: absolute;
    margin-left: 243px;
}
.notification-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notification-element h4 {
    height: 4px;
}

.notification-element span {
    color: var(--color-gray4);
}

.notification-element svg {
    float: right;
}

.titulo-bloque h2 {
    padding-left: 8px;
}

.bloques {
    display: flex;
    flex-direction: row;
}

@media(max-width:768px) {
    .main {
        padding-top: 70px;
        width: 100%;
        margin-left: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .notification-element h4 {
        height: 25px;
    }

    .bloques {
        display: flex;
        flex-direction: column;
    }

    .info-perfil-large {
        display: none;
    }

    .info-mobile {
        display: inline;
        padding: 2px;
    }
    
    .bloque {
        width: 97%;
        padding: 10px;
    }

    .contenido-bloque {
        display: flex;
        flex-wrap: wrap;
        padding-left: 8px;
        margin-top: -28px;
    }

    .bloque-usuario {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        padding-top: 8px;
    }

    .titulo-bloque h2 {
        padding-left: 0px;
    }

    .estadistica-element {
        width: 98%;
    }

    .botones-perfil {
        height: 40px;
        position: unset;
        margin-left: 0px;
    }
}