#nav{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    background-color: var(--color-gray2);
    padding: 78px 8px 8px 8px;
}

#nav h3{
    margin: 0;    
}

#nav a {
    display: inline-flex;
}

#page-title{
    text-align: center;
}

#back-btn-icon{
    width: 30px;
    margin: 0px 16px;
}