#player{
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    flex-flow: column;

    background-color: var(--color-black);
    /* color: white; */
}

.info-mini{
    display: grid;
    height: 20px;
    grid-template-columns: 3fr 8fr 1fr;
    padding: 4px;
    font-size: 14px;
}

.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    align-self: center;
}

.play-buttons{
    display: flex;
    align-items: center;
}

#fav-btn{
    width: 36px;
}

#add-playlist-btn{
    display: none;
}

.info-large{
    display: none;
}

#volume-range{
    display: none;
}

#volume-mute{
    display: none;
}

#volume-btn{
    width: 30px;
}

#song-nav{
    display: none;
}

#play-button{
    width: 60px;
}

#play-button.playing{
    color: var(--color-green3);
}

#play-prev-button{
    margin-right: 4px;
    width: 18px;
}

#play-next-button{
    margin-left: 4px;
    width: 18px;
}

@media(min-width:768px) {
    
    #player{
        display: flex;
        flex-flow: row;
    }
    
    .info-mini{
        display: none;
    }
    
    .info-large{
        display: flex;
        align-items: center;
        margin-left: 32px;
        width: 25%;
    }
    
    .controles{
        width: 75%;
    }

    #add-playlist-btn{
        display: inline-block;
        width: 40px;
        margin-left: 8px;
    }

    .info-img{
        width: 54px;
        height: 54px;
        background-color: gray;
    }

    .info-texto{
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: 12px;
    }

    #vol-control{
        display: flex;
        align-items: center;
        margin-right: 48px;
    }

    #volume-range{
        display: inline-block;
    }
    
    #volume-mute{
        display: inline-block;
    }

    #song-nav{
        display: flex;
        align-items: center;
    }

    #song-range{
        width: 300px;
    }
    
    #song-range::-webkit-slider-runnable-track{
        background: var(--color-green3);
    }

    #volume-range::-webkit-slider-runnable-track{
        background: var(--color-blue3);
    }

    .player-range{
        cursor: pointer;
    }

    input[type=range] {
        -webkit-appearance: none;
        background: none;
        border: none;
    }
    
    input[type=range]:focus {
        outline: none;
        border: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 3px;
        /* background: var(--color-gray1); */
        border-radius: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: var(--color-gray5);
        margin-top: -6px;
    }

    #play-button{
        width: 70px;
    }
    
    /* #play-button.playing{
        color: var(--color-green3);
    } */

    #play-prev-button{
        margin-right: 4px;
        width: 20px;
    }
    
    #play-next-button{
        margin-left: 4px;
        width: 20px;
    }
   
}

