:root {
    --color-black: #171717;
    --color-gray1: #333333;
    --color-gray2: #4f4f4f;
    --color-gray3: #828282;
    --color-gray4: #bdbdbd;
    --color-gray5: #e0e0e0;
    --color-gray6: #f2f2f2;
    
    --color-green3: #6FCF97;
    --color-green2: #27AE60;
    --color-green1: #219653;
    
    --color-yellow: #F2C94C;
    --color-orange: #F2994A;
    --color-red: #EB5757;

    --color-purple2: #BB6BD9;
    --color-purple1: #9B51E0;

    --color-blue3: #56CCF2;
    --color-blue2: #2D9CDB;
    --color-blue1: #2F80ED;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-gray6);
    background-color: var(--color-gray1);
}

.btn {
    background-color: var(--color-blue1);
    color: var(--color-gray6);
    padding: 12px 24px;
}

button{
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    color: var(--color-gray6);
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* button:hover,
button:focus {
    background: #0053ba;
} */


/* #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */

/* #wrapper.toggled {
    padding-left: 250px;
} */

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-top: 78px;
    margin-left: -250px;
    overflow-y: auto;
    background: #4F4F4F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


.sidebar-nav {
    /* position: absolute; */
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    font-size: 33px;
    margin-top: 30px
}

.extensible {
  background: #66666E;
  height: auto;
}

.menu-extensible {
  list-style: none;
  margin-left: -40px;
}

.menu-extensible li {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.fa {
position: relative;
font-size: 25px;
color: white;
right: 5px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}