:root {
    --color-black: #171717;
    --color-gray1: #333333;
    --color-gray2: #4f4f4f;
    --color-gray3: #828282;
    --color-gray4: #bdbdbd;
    --color-gray5: #e0e0e0;
    --color-gray6: #f2f2f2;
    
    --color-green3: #6FCF97;
    --color-green2: #27AE60;
    --color-green1: #219653;
    
    --color-yellow: #F2C94C;
    --color-orange: #F2994A;
    --color-red: #EB5757;

    --color-purple2: #BB6BD9;
    --color-purple1: #9B51E0;

    --color-blue3: #56CCF2;
    --color-blue2: #2D9CDB;
    --color-blue1: #2F80ED;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: var(--color-gray6);
    background-color: var(--color-gray1);
}

.btn {
    background-color: var(--color-blue1);
    color: var(--color-gray6);
    padding: 12px 24px;
}

button{
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    padding: 0;
    color: var(--color-gray6);
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* button:hover,
button:focus {
    background: #0053ba;
} */

a {
    text-decoration: none;
    color: inherit;
}

.text-md{
    font-weight: 500;
}