/* #search-page{
    display: flex;
    padding: 16px 16px 0px 16px;
} */

.search-bar{
    align-items: flex-end;
    display: flex;
}

#search-input{
    width: 100%;
}

#search-action-btn{
    width: 30px;
    margin-left: 16px;
}