#search-page{
    margin-top: 16px;
}

.page-container .search-bar{
    display: flex;   
    align-items: flex-end;
}

.page-container #search-input{
    width: 100%;
}

.page-container #search-action-btn{
    width: 30px;
    margin-left: 16px;
}

@media(min-width:768px) {
    .page-container .search-bar{
        align-items: flex-start;
    }
}