
#explorar-main .tags-container{
    margin-top: 18px;
}

#novedades{
    margin-top: 18px;
}

#novedades > h2{
    margin-bottom: 12px;
}

#tendencias{
    margin-top: 32px;
}

#tendencias > h2{
    margin-bottom: 12px;
}

#top-playlist{
    margin-top: 32px;
}

#top-playlist > h2{
    margin-bottom: 12px;
}

#top-podcast{
    margin-top: 32px;
}

#top-podcast > h2{
    margin-bottom: 12px;
}

.cards-carousel{
    display: flex;
    column-gap: 16px;
    overflow-x: hidden;
    overflow-x: scroll;
}

.cards-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    column-gap: 16px;
    row-gap: 16px;
    
}

#tendencias > .cards-container > div{
    flex: 1 0 0;
}

#tendencias > .cards-container > .list-footer{
    flex: 100%;
    margin-top: 0;
}

#tendencias .card-con-play{
    /* max-width: 150px; */
}

.lista-resultados {
    row-gap: 6px;
    display: flex;
    flex-flow: column;
}

.list-footer {
    text-align: center;
}

@media(min-width:768px) {

    .cards-carousel{
        overflow-x: hidden;
    }

    #tops-container{
        display: grid;
        grid-template-columns: 7fr 5fr;
        column-gap: 32px;
    }

    .tags-container{
        justify-content: center;
    }

    #tendencias .card-con-play{
        max-width: 150px;
    }

    #novedades{
        display: grid;
        grid-template-columns: 11fr 1fr;
    }

    #novedades > .cards-carousel{
        grid-column: span 2;
        padding: 8px;
        transform: translate(-8px,-8px);
        scroll-behavior: smooth;
    }

}