.bloque-primario {
    width: 65%;
}

.bloque-secundario {
    width: 35%;
}

.dos-columnas {
    display: flex;
    flex-direction: row;
}

.contenido-bloque {
    display: flex;
    flex-wrap: wrap;
}

.info-left {
    width: 68%;
    float: right;
    margin-top: -23px;
}

.info-left p {
    color: var(--color-gray4);
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
}

.bloque-artista {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-top: 0px;
}

#avatar-perfil {
    width: 128px;
    height: 128px;
    background-color: var(--color-gray4);
    border-radius: 65px;
    margin-top: auto;
}

.info-artista {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    height: 150px;
}

.info-artista h1 {
    height: 28px;
}

.info-artista p {
    margin-top: -2px;
    color: var(--color-gray4);
}

.botones-artista {
    padding-top: 16px;
}

.info-mobile {
    display: none;
}

.texto-cabecera {
    text-align: right;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px var(--color-gray6) solid;
    height: 50px;
    margin-top: auto;
    font-size: 20px;
}

.album-card {
    padding: 4px 7px;
    min-width: 158px;
}

.square-image {
    width: auto;
    height: 160px;
    background-color: var(--color-gray5);
}

.card-bottom {
    display: flex;
}

.card-bottom h4 {
    width: 135px;
}

#lista-canciones {
    display: flex;
    flex-flow: column;
    margin-top: 2px;
    row-gap: 8px;
    width: 100%;
}

.comentarios-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.estrellas {
    width: 74%;
    height: 28px;
}

.estrellas p {
    text-align: right;
    margin-top: -27px;
    margin-right: 71px;
    color: var(--color-gray4);
}

.boton-comentario {
    width: 20%;
    color: var(--color-blue3);
    margin-top: -13px;
}

.avatar-round {
    width: 54px;
    height: 54px;
    background-color: var(--color-gray4);
    border-radius: 65px;
}

.lista-comentarios {
    width: 100%;
}

.texto-comentario {
    width: 77%;
    margin-top: -4px;
    font-size: 14px;
    padding-left: 6px;
}

.comentario-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.dropdown {
    position: absolute;
    margin-top: 0px;
    background-color: var(--color-black);
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    margin-left: -61px;
}

.dropdown a {
    color: var(--color-gray6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.ver-mas-top {
    float: right;
    margin-top: -57px;
    margin-right: 29px;
    color: var(--color-gray4);
    text-decoration: underline;
}

.ver-mas-bottom {
    color: var(--color-gray4);
    text-decoration: underline;
    margin: 0 auto;
    padding-top: 7px;
}


@media(max-width:768px) {
    .info-perfil-large {
        display: none;
    }

    .info-mobile {
        display: inline;
        padding: 2px;
    }
    
    .bloque-usuario {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        padding-top: 8px;
    }

    .botones-perfil {
        height: 40px;
        position: unset;
        margin-left: 0px;
    }

    .dos-columnas {
        display: flex;
        flex-direction: column;
    }

    .bloque-primario {
        width: 100%;
    }

    .bloque-secundario {
        width: 100%;
    }

    .comentario-element {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
    }

    .texto-comentario {
        width: 77%;
        margin-top: 0px;
        font-size: 14px;
        padding-left: 6px;
    }

    .estrellas p {
        text-align: right;
        margin-top: -27px;
        margin-right: 46px;
        color: var(--color-gray4);
    }

    .info-left {
        width: 74%;
        float: left;
        margin-top: -23px;
        padding-left: 6px;
    }

    .botones-artista {
        padding-top: 16px;
        width: 30px;
    }

    .album-card {
        padding: 3px 5px;
        min-width: 158px;
        width: 158px;
    }

    .card-bottom h4 {
        width: 131px;
    }

    .bloque-artista {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        padding-left: 0px;
    }

    .info-artista {
        display: flex;
        flex-direction: column;
        margin-left: 9px;
        height: 150px;
        width: 155px;
    }

    .ver-mas-top {
        float: right;
        margin-top: -48px;
        margin-right: 5px;
        color: var(--color-gray4);
        text-decoration: underline;
    }

    .cabecera {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}