.ocultar {
    display: none;
}

.contenido-bloque {
    display: flex;
    flex-wrap: wrap;
}

.descripcion {
    width: 90%;
    margin-top: -14px;
}

.dos-columnas {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bloque-primario {
    width: 65%;
}

.bloque-secundario {
    width: 35%;
}

.texto-descripcion {
    margin-top: -17px;
    width: 96%;
}

.cancion-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 47%;
    padding-left: 15px;
    max-width: 300px;
    padding-top: 3px;
}

.bloque-playlist {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
}

.central-playlist {
    padding-left: 7px;
}

.cabecera-left {
    display: flex;
    width: 70%;
}

.cabecera-right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 30%;
}

.cancion-square-image {
    width: 31%;
    height: 80px;
    background-color: var(--color-gray5);
    float: left;
    max-width: 82px;
}

.cancion-info {
    width: 87%;
}

.info-left {
    width: 68%;
    float: right;
    margin-top: -23px;
}

.info-left p {
    color: var(--color-gray4);
}

.cancion-play {
    width: 12%;
}

.cancion-play .fa {
    padding-left: 16px;
    font-size: 27px;
}

.cancion-play p {
    color: var(--color-gray4);
}

#portada-playlist {
    width: 486px;
    height: 199px;
    background-color: var(--color-gray4);
    background-image: url(../../assets/episodio1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lista-canciones {
    display: flex;
    flex-flow: column;
    margin-top: -7px;
    row-gap: 8px;
    width: 97%;
}

.info-playlist {
    text-align: right;
    color: var(--color-gray4);
}

.avatar-round {
    width: 43px;
    height: 43px;
    background-color: var(--color-gray4);
    border-radius: 65px;
}

.comentarios-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.boton-comentario {
    width: 54px;
    color: var(--color-blue3);
}
.boton-comentario:hover {
    text-decoration: underline;
}

.estrellas {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.bloque-feedback {
    width: 100%;
}

.feedback-bottom {
    display: flex;
}

.btn-publicar {
    background-color: var(--color-blue1);
    color: var(--color-gray6);
    padding: 7px 11px;
    float: right;
}

.lista-comentarios {
    width: 100%;
}

.texto-comentario {
    width: 100%;
    font-size: 14px;
    text-align: left;
    padding-left: 6px;
}

.opciones {
    padding-top: 8px;
    position: relative;
}

.expandido {
    margin-top: -8px;
}

.comentario-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 9px;
}

.comentario-extra {
    display: flex;
    width: 100%;
    flex-flow: row;
    height: 27px;
    justify-content: space-between;
    padding-left: 4px;
}

.comentario-extra svg {
    width: 14px;
    margin-right: 4px;
    margin-top: -6px;
}

.seleccionado {
    background-color: var(--color-tr1);
    transition: background-color 0.3s ease;
}

.votado {
    display: flex;
    font-size: 17px;
    color: var(--color-yellow);
    margin-top: -3px;
}

.tags-bottom {
    display: flex;
}

.tags-bottom p {
    padding-right: 2px;
}

.dropdown {
    background-color: var(--color-black);
    box-shadow: 3px 2px 9px 0px rgb(202 202 202 / 20%);
    z-index: 1;
    text-align: right;
    position: absolute;
    margin-left: -66px;
}

.dropdown a {
    color: var(--color-gray6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.votado-mobile {
    display: none;
}

#compartir {
    position: relative;
}

.opciones-compartir {
    background-image: url(../../assets/opciones-compartir.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 117px;
    z-index: 1;
    background-size: contain;
    margin-left: -66px;
}

.list-footer {
    width: 97%;
}

.central-playlist svg {
    width: 65px;
    height: 65px;
}

.central-playlist h1 {
    padding-top: 17px;
}

@media(max-width:768px) {
    .central-playlist h1 {
        padding-top: 17px;
        font-size: 31px;
    }
    
    .central-playlist svg {
        width: 55px;
        height: 55px;
    }

    .opciones-compartir {
        background-image: url(../../assets/opciones-compartir.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100px;
        height: 117px;
        z-index: 1;
        background-size: contain;
        margin-left: 0px;
    }

    .votado {
        display: none;
    }

    .votado-mobile {
        display: flex;
        font-size: 17px;
        color: var(--color-yellow);
        margin-top: -3px;   
    }

    .votado-mobile h5 {
        padding-top: 4px;
    }

    .bloque-playlist {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-top: 16px;
        text-align: center;
    }

    #lista-canciones {
        display: flex;
        flex-flow: column;
        margin-top: 2px;
        row-gap: 8px;
        width: 100%;
    }

    .segunda {
        display: none;
    }

    .info-mobile {
        display: inline;
        width: 57%;
        text-align: right;
    }
    
    .bloque {
        width: 100%;
        padding: 0px;
    }

    .dropdown {
        background-color: var(--color-black);
        box-shadow: 3px 2px 9px 0px rgb(202 202 202 / 20%);
        z-index: 1;
        text-align: right;
        position: absolute;
        margin-left: -66px;
    }

    .dos-columnas {
        display: flex;
        flex-direction: column;
    }

    .bloque-primario {
        width: 100%;
    }

    .cabecera-left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #play svg {
        width: 63px;
        height: 63px;
    }

    .botones-playlist {
        height: 117px;
        display: flex;
        flex-flow: column;
    }

    .botones-playlist svg {
        width: 55px;
        height: 39px;
    }

    .bloque-secundario {
        width: 100%;
    }

    .cabecera-right {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-top: -10px;
        width: 100%;
    }

    .cancion-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 94%;
        padding-left: 0px;
        padding-top: 3px;
        max-width: 455px;
    }

    .info-left {
        width: 67%;
        float: left;
        margin-top: -23px;
        padding-left: 6px;
    }

    .descripcion {
        display: flex;
        flex-direction: row;
        margin: -25px auto;
        width: 100%;
    }

    #portada-playlist {
        width: 100%;
        height: 188px;
        background-color: var(--color-gray4);
        background-image: url(../../assets/episodio1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
}