.modal{
    z-index: 1;
    position: fixed;
    top: 170px;
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    grid-template-rows: 400px;
}

.modal-content{
    grid-column-start: 2;
    background-color: var(--color-gray1);
    width: 650px;
    height: 440px;
}

.contentlr{
    margin-left: 25px;
    display: grid;
    grid-template-columns: 280px 50px 280px;
    grid-template-rows: 30px 75px 75px 75px 75px 75px;
}

.user{
    grid-column-start: 1;
    grid-column-end: 2;
}

.emailreg{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.passreg{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.confirmpass{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.buttonReg{
    margin-right: 30px;
    margin-top: 7px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
}

.inputlr{
    width: 100px;
}

.barraVertical{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 2px;
    height: 285px;
    background-color: var(--color-gray2);
    margin-left: 25px;
}

.emailInicio{
    grid-column-start: 3;
    grid-column-end: 4;
}

.emailInicio input{
    border-bottom: 1px solid var(--color-green2);
}

.passInicio{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.containerIniciar{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    margin-right: 30px;
    margin-top: 13px;
}

.view{
    position: relative;
    left: -26px;
    top: 3px;
}

.color-green{
    background-color: var(--color-green2);
}

.resetPass{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    margin-right: 30px;
}

.contentlr p{
    margin: 0;
}

.contentlr input{
    width: 230px;
}

.p1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.row1{
    grid-row-start: 1;
    grid-row-end: 2;
}

.mt-3{
    margin-top: 10px;
}
.modal{
    display: none;
}

#ingresar-btn {
    cursor: pointer;
}

#index-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../../assets/background4.jpg);
    background-size: cover;
    grid-column: span 2;
    background-position-x: 80%;
}
#hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
}

@media(min-width:768px) {
    #index-hero {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: url(../../assets/background4.jpg);
        background-size: cover;
        grid-column: span 2;
    }

    #hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}