.ver-mas-top {
    float: right;
    margin-top: -45px;
}
.ver-mas-top:hover{
    outline: 4px solid var(--color-tr1);
    background-color: var(--color-tr1);
    transition: background-color 0.3s ease;
}

.ver-mas-top a:hover{
    text-decoration: underline;
}

.contenido-bloque {
    display: flex;
    flex-wrap: wrap;
}

.gustos {
    column-gap: 10px;
    row-gap: 5px;
}

.card-con-play {
    width: 167px;
}

@media(max-width:768px) {
    .card-con-play {
        width: 163px;
    }
}