body{
    margin: 0;
}
.containerLogin{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: auto 315px auto;
    grid-template-rows: 100px 12px 100px 32px 160px 25px 120px;
}

.containerRegistro{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: auto 315px auto;
    grid-template-rows: 100px 5px 100px 5px 100px 5px 100px 30px 50px;
    padding-left: 20px;
}

.usuario{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 15px;
}

.registerEmail{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 15px;
}

.registerEmail input{
    border-bottom: 2px #589472 solid;
}

.passw{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-left: 15px;
}

.confirmPassw{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-left: 15px;
}

.btnConfirm button{
    font-size: 18px;
    margin-bottom: 20px;
    width: 145px;
    height: 49px;
    background-color: var(--color-blue1);
    box-shadow: 4px 5px 8px 3px rgba(0, 0, 0, 0.25);
    margin-right: 35px;
}

.btnConfirm{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
}

.check{
    position: relative;
    left: -34px;
    top: 6px;
}

.email{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 15px;
}

.containerLogin input{
    width: 250px;
    height: 20px;
}

.containerRegistro input{
    width: 250px;
    height: 20px;
}

.email input{
    border-bottom: 2px #589472 solid;
}

.usuario input{
    border-bottom: 2px #589472 solid;
}

.pass{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 15px;
}

.init{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.init button{
    font-size: 18px;
    margin-bottom: 20px;
    width: 145px;
    height: 49px;
    background-color: var(--color-blue1);
    box-shadow: 4px 5px 8px 3px rgba(0, 0, 0, 0.25);
}

.link{
    color: var(--color-blue1);
    text-decoration: underline;
}

.center{
    text-align: center;
}

.opt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.opt p{
    display: inline-block;
}

.opt p:nth-child(1){
    position: relative;
    left: 10px;
    top: 12px;
    width: 130px;
    height: 2px;
    background-color: white;
}

.opt p:nth-child(2){
    position: relative;
    left: 34px;
}

.opt p:nth-child(3){
    position: relative;
    left: 56px;
    top: 12px;
    width: 130px;
    height: 2px;
    background-color: white;
}

.registrarse{
    position: relative;
    left: 0px;
    top: 20px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.btnRegis{
    margin-top: 12px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 145px;
    height: 49px;
    background-color: var(--color-gray3);
}