
.containerLogin{
    position: relative;
    top: 20px;
    left: 10px;
    display: grid;
    grid-template-columns: auto 325px auto;
    grid-template-rows: 100px 12px 70px 32px 140px 25px 120px;
}

.containerRegistro{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: auto 320px auto;
    grid-template-rows: 100px 100px 100px 100px 90px;
    padding-left: 20px;
}

.containerRegistro > div > h4{
    margin-bottom: 10px;
}

.containerLogin > div > h4 {
    margin-bottom: 10px;
}


.usuario{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 15px;
}

.registerEmail{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 15px;
}

.registerEmail input{
    border-bottom: 2px #589472 solid;
}

.passw{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 15px;
}

.confirmPassw{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 15px;
}

.btnConfirm{
    width: 80px;
    height: 20px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    position: relative;
    top: 10px;
    left: 92px;
}

.check{
    position: relative;
    left: -34px;
    top: 6px;
}

.email{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 15px;
}

.containerLogin input{
    width: 250px;
    height: 20px;
}

.containerRegistro input{
    width: 250px;
    height: 20px;
}

.email input{
    border-bottom: 2px #589472 solid;
}

.usuario input{
    border-bottom: 2px #589472 solid;
}

.pass{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 15px;
}

.init{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.init > .btn{
    position: relative;
    left: 100px;
}

.init > h3{
    width: 250px;
    position: relative;
    left: 30px;
    margin-top: 30px;
}

.init > h4{
    position: relative;
    left: 79px;
    width: 150px;
}

h4{
    margin: 0;
    width: fit-content;
}

.link{
    color: var(--color-blue1);
    text-decoration: underline;
}

.opt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.opt p{
    display: inline-block;
}

.opt p:nth-child(1){
    position: relative;
    left: 20px;
    width: 105px;
    height: 2px;
    background-color: white;
}

.opt p:nth-child(2){
    position: relative;
    left: 39px;
    top: -12px;
}

.opt p:nth-child(3){
    position: relative;
    left: 56px;
    width: 105px;
    height: 2px;
    background-color: white;
}

.registrarse{
    width: 240px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.registrarse > h3{
    position: relative;
    left: 65px;
}

.registrarse > a{
    position: relative;
    left: 88px;
    top: 10px;
}