.contenido-bloque {
    display: flex;
    flex-wrap: wrap;
}

.playlist-card {
    padding: 4px 7px;
    min-width: 158px;
}

.square-image {
    width: auto;
    height: 160px;
    background-color: var(--color-gray5);
}

.card-bottom {
    display: flex;
}

.card-bottom h4 {
    width: 135px;
}

.card-bottom .fa {
    float: right;
    font-size: 30px;
    margin-top: -15px;
    margin-right: -17px;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
}

.bloque-usuario {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-top: 8px;
}

#avatar-perfil {
    width: 128px;
    height: 128px;
    background-color: var(--color-gray4);
    border-radius: 65px;
    margin-top: auto;
}

.info-usuario {
    display:flex;
    flex-direction:column;
    margin-left: 15px;
    margin-top: -11px;
}

.info-usuario .btn {
    width: 48px;
}

.info-usuario h1 {
    height: 18px;
}

.info-usuario p {
    color: var(--color-gray4);
    height: 10px;
    margin-top: 4px;
}

.info-perfil-large {
    display: flex;
    flex-direction: row;
    padding-right: 16px;
}

.info-mobile {
    display: none;
}

.texto-cabecera {
    text-align: right;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px var(--color-gray6) solid;
    height: 50px;
    margin-top: auto;
    font-size: 20px;
}

@media(max-width:768px) {
    #avatar-perfil {
        width: 159px;
        height: 141px;
        background-color: var(--color-gray4);
        border-radius: 65px;
        margin-top: auto;
    }

    .info-perfil-large {
        display: none;
    }

    .info-mobile {
        display: inline;
        padding: 2px;
    }
    
    .bloque {
        padding-top: 0px;
    }

    .bloque-usuario {
        padding-left: 0px;
        padding-top: 0px;
    }

    .playlist-card {
        padding: 3px 5px;
        min-width: 158px;
        width: 158px;
    }

    .card-bottom h4 {
        width: 131px;
    }
}