p{
    margin: 2px;
}

.main{
    grid-column-start: 2;
    grid-column-end: 3;
}

.info-planActual {
    line-height: 133%;
    position: relative;
    width: 100%;
    font-size: 22px;
    top: 25px;
    text-align: center;
}

.info-planActual div:nth-child(2){
    margin: 20px 18px;
    font-size: 16px;
}

.cards {
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: 530px 40px 530px 40px 530px 40px 530px 40px;
    position: relative;
    left: 7px;
    top: 21px;
}

.cards div p{
    margin-bottom: 0;
}

.titulo-card{
    margin: 12px;
    text-align: center;
    font-size: 33px;
}

.cards div p:nth-child(2){
    display: inline-block;
    position: relative;
    left: 83px;
    top: -22px;
}
.cards div p:nth-child(3){
    display: inline-block;
    font-size: 48px;
    position: relative;
    left: 88px;
}
.cards div p:nth-child(4){
    display: inline-block;
    position: relative;
    left: 85px;
}

.cards div p:nth-child(5){
    font-size: 14px;
    text-align: center;
}

.cards div p:nth-child(6){
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
}

.cards div p:nth-child(7){
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
}
.cards div p:nth-child(11){
    position: relative;
    left: 154px;
    width: 100px;
    text-align: end;
}
.cards div p:nth-child(12){
    text-align: center;
    font-size: 18px;
}
.cards div p:nth-child(16){
    text-align: center;
    font-size: 18px;
    margin-top: 22px;
}
.cards div p:nth-child(20){
    position: relative;
    left: 103px;
    width: 150px;
    text-align: end;
}

.linea {
    width: 230px;
    height: 1px;
    background-color: #9999a1;
    margin-left: 25px;
}

.barra {
    position: relative;
    height: 4px;
    background-color: #cdcddd;
    margin-left: 25px;
}

.check{
    width: 20px;
    height: 20px;
    position: relative;
}

.cards button{
    position: relative;
    top: 42px;
    left: 87px;
}


/* Primer plan */

.cards div:nth-child(1) .c-playlist{
    left: 245px;
    animation: left-check-100 1.2s linear;
}
.cards div:nth-child(1) .c-cuenta{
    left: 245px;
    animation: left-check-100 1.2s linear;
}
.cards div:nth-child(1) .c-audio{
    left: 245px;
    animation: left-check-100 1.2s linear;
}

.cards div:nth-child(1){ 
    border: 3px solid #2599df;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 280px;
    height: 460px;
    background-color: var(--color-tr1);
    margin-bottom: 33px;
    box-shadow: 7px 6px 6px 3px rgba(0, 0, 0, 0.25);
}

.cards div:nth-child(1) .barra{
    width: 230px;
    animation: width-barra-100 1.2s linear;
}

/* Segundo plan */

.cards div:nth-child(2) .c-playlist{
    left: 190px;
    animation: left-check-60 1.2s linear;
}
.cards div:nth-child(2) .c-cuenta{
    left: 190px;
    animation: left-check-60 1.2s linear;
}
.cards div:nth-child(2) .c-audio{
    left: 190px;
    animation: left-check-60 1.2s linear;
}

.cards div:nth-child(2){
    border: 2px solid #755097;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 280px;
    height: 460px;
    background-color: var(--color-tr1);
    margin-bottom: 33px;
    box-shadow: 7px 6px 6px 3px rgba(0, 0, 0, 0.25);
}

.cards div:nth-child(2) .barra{
    width: 175px;
    animation: width-barra-60 1.2s linear;
}

/* Tercer plan */

.cards div:nth-child(3) .c-playlist{
    left: 80px;
    animation: left-check-20 1.2s linear;
}
.cards div:nth-child(3) .c-cuenta{
    left: 80px;
    animation: left-check-20 1.2s linear;
}
.cards div:nth-child(3) .c-audio{
    left: 80px;
    animation: left-check-20 1.2s linear;
}

.cards div:nth-child(3){
    border: 2px solid #29804e;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 280px;
    height: 460px;
    background-color: var(--color-tr1);
    margin-bottom: 33px;
    box-shadow: 7px 6px 6px 3px rgba(0, 0, 0, 0.25);
}

.cards div:nth-child(3) .barra{
    width: 65px;
    animation: width-barra-20 1.2s linear;
}

/* Cuarto plan */

.cards div:nth-child(4) .c-playlist{
    left: 80px;
    animation: left-check-20 1.2s linear;
}
.cards div:nth-child(4) .c-cuenta{
    left: 80px;
    animation: left-check-20 1.2s linear;
}
.cards div:nth-child(4) .c-audio{
    left: 80px;
    animation: left-check-20 1.2s linear;
}

.cards div:nth-child(4){
    border: 2px solid #aa9043;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 280px;
    height: 460px;
    background-color: var(--color-tr1);
    margin-bottom: 33px;
    box-shadow: 7px 6px 6px 3px rgba(0, 0, 0, 0.25);
}

.cards div:nth-child(4) .barra{
    width: 65px;
    animation: width-barra-20 1.2s linear;
}


@keyframes width-barra-100{
    from{
        width: 0;
    }
    to{
        width: 230px;
    }
}

@keyframes left-check-100{
    from{
        left: 25px;
    }
    to{
        left: 245px;
    }
}

@keyframes left-check-60{
    from{
        left: 25px;
    }
    to{
        left: 190px;
    }
}

@keyframes width-barra-60{
    from{
        width: 0;
    }
    to{
        width: 175px;
    }
}

@keyframes left-check-20{
    from{
        left: 15px;
    }
    to{
        left: 80px;
    }
}

@keyframes width-barra-20{
    from{
        width: 0;
    }
    to{
        width: 65px;
    }
}

@media(min-width:768px){
    .cards {
        display: grid;
        grid-template-columns: auto 280px 30px 280px 30px 280px 30px 280px auto;
        grid-template-rows: auto;
        position: relative;
        top: 0px;
    }

    .bar-back{
        display: none;
    }

    .info-planActual {
        position: relative;
        top: 0px;
    }

    .info-planActual div:nth-child(1){
        margin: 0;
    }

    .cards div:nth-child(2){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .cards div:nth-child(3){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 6;
        grid-column-end: 7;
    }
    .cards div:nth-child(4){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 8;
        grid-column-end: 9;
    }

}