.contenido-bloque {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
}

.preferencias {
    width: 50%;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
}

.bloque-usuario {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-top: 8px;
}

#avatar-perfil {
    width: 128px;
    height: 128px;
    background-color: var(--color-gray4);
    border-radius: 65px;
    margin-top: auto;
}

.info-usuario {
    display:flex;
    flex-direction:column;
    margin-left: 15px;
    margin-top: -11px;
}

.info-usuario .btn {
    width: 48px;
}

.info-usuario h1 {
    height: 18px;
}

.titulo-bloque h2 {
    padding-left: 8px;
}

.bloques {
    display: flex;
    flex-direction: row;
}

.botones {
    width: 80%;
}

.btn-cambiar {
    background-color: var(--color-blue1);
    color: var(--color-gray6);
    padding: 12px 24px;
    float: right;
}

.btn-baja {
    background-color: var(--color-red);
    color: var(--color-gray6);
    padding: 12px 24px;
    margin-left: 5px;
    float: right;
}

.input-bloquear {
    width: 310px;
}

.bloque-bloquear {
    width: 100%;
}

.lista-bloqueados p {
    font-size: 20px;
}

.bloque-datos {
    width: 150px;
}

@media(max-width:768px) {
    .bloques {
        display: flex;
        flex-direction: column;
    }
    
    .input-bloquear {
        width: 303px;
    }

    .preferencias {
        width: 100%;
    }

    .bloque-usuario {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        padding-top: 8px;
    }
}