#results-page{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

#result-text{
    margin: 12px 0px;
}

#filters{
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.lista-resultados{
    display: flex;
    flex-flow: column;
    margin-top: 16px;
    row-gap: 8px;
}

@media(min-width:768px) {

    #results-page{
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-auto-flow: dense;
        column-gap: 32px;
    }

    #filters{
        grid-column: span 2;
    }

    #result-text{
        display: none;
    }

    .search-bar{
        display: none;
    }

    .lista-resultados{
        /* min-width: 40%; */
    }


}