#results-page{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

#result-text{
    margin: 12px 0px;
}

#filters{
    display: flex;
    column-gap: 16px;
}

#lista-resultados{
    display: flex;
    flex-flow: column;
    margin-top: 16px;
    row-gap: 8px;
}